/* html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} */

/* Правило для написания стилей
- блочная модель геометрия
- цвет
- шрифты
- анимация и оформительные эффекты*/

/* Последовательность подколючения файлов
- шрифты
- модерн нормалайз нормализация
- файл css
*/
/* 
* {
    padding: 0;
    margin: 0;
} */

/* Переменные ------------------ */
:root {
    --text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --black-color: #000000;
    --background-color: #2f303a;
  }
  
  /* Базовые настройки ------------ */
  
  body {
    margin: 0;
    padding-top: 85px;
  
    background-color: var(--white-color);
    color: var(--text-color);
  
    font-family: Roboto, sans-serif;
  }
  
  @media (min-width: 800px) {
    body {
      background-color: #188ce8;
    }
  }
  
  /* скрыть заголовки и части текста */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  section {
    outline: 2px solid red;
  }
  
  /* Создание контейнера ----------- */
  
  .container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .center {
    text-align: center;
  }
  
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .features,
  .team,
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .work {
    padding-bottom: 94px;
  }
  
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  /* Личный нормализатор -------------- */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    /* padding: 0;
    margin: 0; */
    color: var(--title-color);
  }
  
  p {
    margin-top: 0;
    /* padding: 0;
    margin: 0; */
  }
  
  /* чтоб можно было задать геометрию -------- */
  
  a {
    display: block;
    text-decoration: none;
    font-style: normal;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  /* Зброс зазора */
  img {
    display: block;
    max-width: 100%;
    height: auto;
    /* margin: 0px;
    padding: 0px; */
  }
  
  /* header ------------------------------- */
  
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 80px;
    background-color: inherit;
    z-index: 999;
  }
  
  .logo {
    margin-right: 93px;
    /* настройки шрифта */
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  
    text-decoration: none;
    /* убрать подчеркивание */
  }
  
  .logo-web {
    color: var(--accent-color);
  }
  
  .logo-studio {
    color: var(--black-color);
  }
  
  .logo-studio-footer {
    color: var(--white-color);
  }
  
  .menu-link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  
  .menu-item {
    margin-right: 50px;
  }
  
  .menu-item:last-child {
    margin-right: 0;
  }
  
  .menu-link.current {
    color: var(--accent-color);
  }
  
  .menu-link:hover,
  .menu-link:focus {
    color: var(--accent-color);
  }
  
  .menu-item {
    position: relative;
  }
  
  .current::after {
    display: block;
    position: absolute;
    /* display: inline-flex; */
    content: '';
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    border: 3px solid var(--accent-color);
    /* background: #2196F3; */
    border-radius: 2px;
  }
  
  .submenu {
    position: absolute;
    top: 100%;
    left: -15px;
    width: 155%;
  
    display: none;
    padding: 0;
    margin: 0;
  
    list-style: none;
    background-color: #f9f9f9;
    border: 1px solid var(--accent-color);
    border-radius: 0px 0px 4px 4px;
  }
  
  .submenu-item {
    padding: 10px;
    margin: 10px;
  }
  
  .submenu-link {
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  
  .submenu-link:hover,
  .submenu-link:focus {
    color: var(--accent-color);
  }
  
  .menu-item:hover .submenu {
    display: block;
  }
  
  .contacts {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .contacts,
  .contacts-link {
    margin-left: auto;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    color: var(--text-color);
  }
  
  .contacts-item {
    margin-right: 50px;
  }
  
  .contacts-item:last-child {
    margin-right: 0;
  }
  
  .contacts-svg {
    margin-right: 10px;
  }
  
  .contacts-icon {
    display: flex;
    align-items: center;
  
    color: #757575;
    fill: #212121;
    cursor: pointer;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  
  .contacts-icon:hover,
  .contacts-icon:focus {
    fill: #2196f3;
    color: var(--accent-color);
  }
  
  /* section hero -------------------------- */
  .overlay {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
  
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    background-color: rgba(47, 48, 58, 0.4);
    /* если картинка не отрисуеться то будет фон */
  }
  
  .hero {
    background-color: rgba(47, 48, 58, 0.4);
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  
    text-transform: uppercase;
  }
  
  .hero-title {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  
    color: var(--white-color);
  
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
  }
  
  .btn {
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  
    color: var(--white-color);
  
    background: #2196f3;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  
  .btn:hover,
  .btn:focus {
    background-color: #188ce8;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    /* прозрачность и спрятать модуалку */
    pointer-events: none;
    /* пропускать через модалку события */
  }
  
  /* .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 528px;
    height: 581px;
  
    background-color: var(--white-color);
  } */
  
  .form {
    /* поставить по центру */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* position: relative; */
    width: 528px;
    /* margin-right: auto;
    margin-left: auto; */
  
    padding: 40px;
  
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .btn-clouse {
    padding: 0;
    margin: 0;
    border: none;
    background-color: var(--white-color);
  }
  
  .form-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px;
    width: 30px;
    height: 30px;
  
    color: var(--black-color);
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .form-icon:hover {
    fill: var(--accent-color);
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 30px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  
    color: #212121;
  }
  
  .form-input {
    padding-left: 15px;
    margin-bottom: 30px;
  
    width: 100%;
    height: 40px;
    cursor: pointer;
  }
  
  .form-input:hover,
  .form-input:focus,
  textarea:hover,
  textarea:focus {
    border: 1px solid #2196f3;
  }
  
  textarea {
    padding: 12px 15px;
    margin-bottom: 20px;
    resize: none;
  
    width: 100%;
  
    cursor: pointer;
  }
  
  .real-checkbox {
    display: inline-block;
    /* снять все дефолтное оформление от браузера */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
  
    /* position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; */
  }
  
  .custom-checkbox {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    background: var(--white-color);
    border: 1px solid var(--black-color);
    border-radius: 4px;
    vertical-align: middle;
  }
  
  .custom-checkbox::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
  
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    /* border: 1px solid var(--accent-color); */
    background-image: url(../images/icon\ check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-size: cover; */
  }
  
  .real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .form-text,
  .form-link {
    /* text-align: center; */
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: #757575;
  }
  
  .form-link {
    margin-left: 4px;
    color: var(--accent-color);
  }
  
  label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form .btn {
    margin-top: 30px;
    padding-left: 55px;
    padding-right: 55px;
  }
  
  /* sextion features ----------------- */
  .features-item::before {
    display: block;
    content: '';
    height: 120px;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1);
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  
  .features-item:hover:before {
    transform: scale(1.1);
  }
  
  .features-item:nth-child(1)::before {
    background-image: url(../images/icon/antenna-1.svg);
  }
  
  .features-item:nth-child(2)::before {
    background-image: url(../images/icon/clock-2.svg);
  }
  
  .features-item:nth-child(3)::before {
    background-image: url(../images/icon/diagram-3.svg);
  }
  
  .features-item:nth-child(4)::before {
    background-image: url(../images/icon/astronaut-4.svg);
  }
  
  .features-title {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--black-color);
  }
  
  .features-text {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: var(--text-color);
  }
  
  .features-item {
    margin-right: 30px;
  }
  
  .features-item:last-child {
    margin-right: 0;
  }
  
  /* section work ------------------- */
  
  .work-title,
  .team-title {
    margin-bottom: 50px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  
    color: var(--black-color);
  }
  
  .work-item {
    display: inline-block;
    /* width: calc((100% - 60px) / 2); */
    margin-right: 30px;
  }
  
  .work-item:last-child {
    margin-right: 0;
  }
  
  .work-image {
    transform: scale(1);
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  
  .work-image:hover {
    transform: scale(1.1);
  }
  
  /* section team ---------------------------------------------*/
  .team-flex {
    display: flex;
    justify-content: center;
  }
  
  .team {
    text-align: center;
    background: #f5f4fa;
  }
  
  .team-item {
    /* margin-right: 30px; */
    background: var(--white-color);
  
    border-radius: 0px 0px 4px 4px;
    cursor: pointer;
  }
  
  .team-item:last-child {
    margin-right: 0;
  }
  
  .team-item:hover,
  .team-item:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-subtitle {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .team-subtitle,
  .team-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  
    color: var(--black-color);
  }
  
  .team-text {
    padding-bottom: 16px;
    font-weight: 400;
    color: var(--text-color);
  }
  
  .team-list-icon a {
    display: flex;
    padding: 12px;
    border: 0;
    border-radius: 50%;
    fill: #afb1b8;
    margin-bottom: 30px;
    cursor: pointer;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  
  .team-list-icon a:hover {
    fill: var(--white-color);
    background-color: #2196f3;
  }
  
  .team-list-icon {
    margin-right: 10px;
  }
  
  .team-icon {
    width: 20px;
    height: 20px;
  }
  
  .team-list-icon:last-child {
    margin-right: 0;
  }
  
  /* section slients ----------------------------------------------------- */
  .clients {
    display: block;
    text-align: center;
  }
  
  .clients-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  
    color: var(--black-color);
  }
  
  .clients-flex {
    display: flex;
    justify-content: center;
  }
  
  .clients-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: inline-flex; */
  }
  
  .clients-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    margin-right: 30px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
  
    fill: #afb1b8;
    /* width: 44px;
    height: 49px; */
    cursor: pointer;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
      color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
      border 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  
  .clients-logo:last-child {
    margin-right: 0;
  }
  
  .clients-logo:hover {
    fill: var(--accent-color);
    color: #2196f3;
    border: 1px solid var(--accent-color);
  }
  
  /* footer --------------------------- */
  .footer {
    background-color: var(--background-color);
  }
  
  .footer-text {
    display: block;
    margin-bottom: 20px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--white-color);
  }
  
  .address-map {
    margin-top: 20px;
  }
  
  .address-flex {
    display: flex;
    align-items: baseline;
  }
  
  .address-icon {
    margin-left: 70px;
  }
  
  .address-map,
  .address-link {
    margin-bottom: 9px;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: var(--white-color);
  }
  
  .no-margin {
    margin-bottom: 0;
  }
  
  .address-link {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-list-icon a {
    display: flex;
    padding: 12px;
    border: 0;
    border-radius: 50%;
    /* fill: #afb1b8; */
    fill: var(--white-color);
    margin-bottom: 30px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    cursor: pointer;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  
  .footer-list-icon a:hover {
    fill: var(--white-color);
    background-color: #2196f3;
  }
  
  .footer-list-icon {
    margin-right: 10px;
  }
  
  .footer-icon {
    width: 20px;
    height: 20px;
  }
  
  /* страница portfolio */
  
  .header {
    border-bottom: 1px solid #ececec;
  }
  
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .filter-btn {
    padding: 6px 22px;
  
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
  
    border-radius: 4px;
    border-radius: 4px;
    background: #f5f4fa;
    border: none;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
      color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  
  .filter-btn:hover,
  .filter-btn:focus {
    border-radius: 4px;
    background: var(--accent-color);
    color: var(--white-color);
  
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .filter-item {
    margin-right: 8px;
  }
  
  .filter-item:last-child {
    margin-right: 0;
  }